body{
	margin: 0;
	padding: 0
}
nav{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	height: 90px;
	background-color: #000;
	opacity: 0.4
}
.title{
	position: absolute;
	top: 20px;
	left:60px;
	color: #fff;
	font-size: 25px;
	z-index: 50;
	opacity: 1
}
.book{
	position: absolute;
	top: 0px;
	right:20px;
	background-color: #fff;
	padding: 15px;
	color: #219653;
	text-align: center;
	margin-top: 19px;
	border-radius:12px;
	z-index: 50;
	font-size: 18px;
	width: 160px;
	opacity: 1
}
.book:hover{
	background-color:#219653;
	color: #fff;
	transition: linear all 0.3s
}
.top-wrap{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	overflow:hidden; 
	z-index: 1;
	height: 600px;
}
.top-wrap img{
	position: absolute;
	top: -80px;
	z-index: 1;
	width: 100%
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	overflow:hidden;
	z-index: 2;
	opacity: 0.3; 
	background-color: #219653;
	height: 600px;
}